<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>

        body.modal-open {
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

    </style>
</head>
<body class="modal-open" >
<section class="vh-100" >
    <div class="container py-5 h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong bg-light" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center ">

                        <h3 class="mb-5">Iniciar Sesion</h3>

                        <form id="login-for" th:action="@{/login}" method="post">

                            <div class="form-floating mb-4">
                                <input type="text" id="usuario" name="username" class="form-control form-control-lg" placeholder="Usuario" />
                                <label class="form-label text-secondary" for="usuario">Usuario</label>
                            </div>

                            <div class="form-floating mb-5">
                                <input type="password" id="contrasena" name="password" class="form-control form-control-lg " placeholder="Contraseña" />
                                <label class="form-label text-secondary" for="contrasena">Contraseña</label>
                            </div>


                            <div class="d-grid gap-2">
                                <button class=" btn btn-outline-dark btn-lg px-5 " type="submit">Ingresar</button>

                            </div>

                        </form>


                        <hr class="my-4">

                        <div th:if="${param.x != null}">
                            <div class="alert alert-danger" role="alert">
                                Usuario o Contraseña incorrectos
                            </div>
                        </div>
                        <div th:if="${param.logout != null}">
                            <div class="alert alert-success" role="alert">
                                Sesion Cerrada
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
